@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@layer components {
  .lgw {
    @apply text-4xl font-bold text-neutral-200 pt-2 uppercase tracking-wide text-center
  }
  .modalmaintext {
    @apply text-3xl font-semibold text-neutral-200 pb-3 uppercase tracking-normal text-center
  }
  .modaltext {
    @apply text-lg font-semibold text-neutral-200 pt-3 pl-4
  }
}

