@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@layer components {
  .modalmaintext {
    @apply text-2xl font-medium tracking-wider text-neutral-200 pb-1 uppercase text-center border-b-2 border-gray-200;
  }

  .modaltext {
    @apply text-lg font-semibold text-neutral-200 pt-3 pl-4;
  }

  .modalswitch {
    @apply relative inline-block w-8 h-6 pr-2 bg-neutral-50;
  }

  .modalselect {
    @apply flex-auto text-neutral-500 rounded font-semibold h-8 sm:h-auto bg-neutral-50;
  }

  .modalselectdiv {
    @apply flex-row items-center modaltext flex text-neutral-100;
  }

  .modalselecttext {
    @apply pl-2 text-[1.05rem] leading-4 sm:text-lg;
  }

  .closebutton {
    @apply text-xl text-neutral-200 mt-2 float-right;
  }

  .statsbar {
    @apply flex flex-col justify-center w-full h-8 bg-neutral-50 rounded-sm text-black text-xl font-bold;
  }

  .statsbarspan {
    @apply flex w-full h-full text-2xl font-bold text-neutral-200 gap-x-4 modaltext;
  }

  html {
    @apply bg-[#1d8543];
  }
}

::-webkit-scrollbar {
  @apply bg-green-600 rounded-sm;
}

::-webkit-scrollbar-thumb {
  @apply bg-green-700 rounded-sm;
}
